<div id="messages" phx-update="stream" class="flex-container">
  <span :for={{dom_id, message} <- @streams.messages} class="text-item" id={dom_id}>
    <%= Phoenix.HTML.raw(message.txt) %>
  </span>
</div>
<br /><br />
<.form for={@form} phx-submit="run_model">
  <.label for="system_prompt">System Prompt</.label>
  <.input
    type="text"
    placeholder="System Prompt"
    id="system_prompt"
    field={@form[:system_prompt]}
  />
  <.label for="content">Your question</.label>
  <.input type="text" placeholder="Your question" id="content" field={@form[:content]} />
  <br />
  <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
    Submit
  </button>
</.form>
